ul.n{
    float: right;
}
li.n{
    float: left;
    margin: 10px;
    list-style: none;
}
a.n{
    color: white;
    text-decoration: none;
}
select{
    background-color: black;
    border-style: none;
    color: white;
}
.blk{
    background-color: black;
    color: white;
}
.gry{
    background-color: rgb(53, 56, 53);
    color: white;
    text-align: center;
}
.alink{
    background-color: #3371e3;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}
.kw{
    padding: 30px;
}
.imgb{
    background-image: url(img/ft.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    width: 100%;
    height: 900px;
    padding-top: 40px;
}
.wlink{
    background-color: rgb(239, 235, 245);
    color: blue;
    padding: 8px 10px;
    border: unset;
    border-radius: 5px;
}
.blink{
    background-color: black;
    color: white;
    padding: 8px 8px;
    border: unset;
    border-radius: 5px;
}
.hc{
    padding: 20px 0px;
}
.ema{
    background-color: #f7f7f7;
    text-align: center;
}
.sub{
    font-size: 15px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #aaa;
    height: 32px;
    padding: 0 18px;
}
.flk{
    background-color: #584d4d;
    padding: 20px;
    text-align: center;
    color: white;
}
.it{
    color: white!important;
    font-size: 25px;
    margin: 5px;
}
a.w{
    text-decoration: none;
    color: #3371e3;
}
@media (max-width: 2560px){
    h3, h3 a{
        font-size: 60px;
    }
    p, a, select, input{
        font-size: 30px;
    }
    .im{
        width: 300px;
        height: 75px;
    }
    .sub{
        font-size: 35px;
        border-radius: 5px;
        height: 60px;
        padding: 0px 20px;
    }
    .imgb{
        height: 1706px;
        padding-top: 50px;
    }
    .it{
        font-size: 55px;
    }
}
@media (max-width: 1440px){
    h3, h3 a{
        font-size: 30px;
    }
    p, a, select, input{
        font-size: 17px;
    }
    .im{
        width: 200px;
        height: 50px;
    }
    .sub{
        font-size: 18px;
        border-radius: 5px;
        height: 33px;
        padding: 0px 15px;
    }
    .it{
        font-size: 25px;
    }
    .imgb{
        height: 960px;
        padding-top: 40px;
    }
}
@media (max-width: 1024px){
    h3, h3 a{
        font-size: 25px;
    }
    p, a, select, input{
        font-size: 15px;
    }
    .im{
        width: 185px;
        height: 45px;
    }
    .sub{
        font-size: 15px;
        border-radius: 5px;
        height: 30px;
        padding: 0px 15px;
    }
    .it{
        font-size: 20px;
    }
    .imgb{
        height: 685px;
        padding-top: 40px;
    }
}
@media (max-width: 768px){
    h3, h3 a{
        font-size: 23px;
    }
    p, a, select, input{
        font-size: 13px;
    }
    .im{
        width: 170px;
        height: 40px;
    }
    .sub{
        font-size: 15px;
        border-radius: 5px;
        height: 30px;
        padding: 0px 15px;
    }
    .it{
        font-size: 20px;
    }
    .imgb{
        height: 513px;
        padding-top: 37px;
    }
}
@media (max-width: 425px){
    h3, h3 a{
        font-size: 23px;
    }
    p, a, select, input{
        font-size: 15px;
    }
    .im{
        width: 190px;
        height: 47px;
    }
    .sub{
        font-size: 15px;
        border-radius: 5px;
        height: 30px;
        padding: 0px 15px;
    }
    .it{
        font-size: 30px;
    }
    .imgb{
        height: 285px;
        padding: 0px;
    }
    .wlink{
    padding: 5px 5px;
    }
    .blink{
    padding: 5px 5px;
    }
}
@media (max-width: 375px){
    h3, h3 a{
        font-size: 20px;
    }
    p, a, select, input{
        font-size: 13px;
    }
    .im{
        width: 185px;
        height: 45px;
    }
    .sub{
        font-size: 15px;
        border-radius: 5px;
        height: 30px;
        padding: 0px 15px;
    }
    .it{
        font-size: 30px;
    }
    .imgb{
        height: 250px;
        padding: 0px;
    }
    .wlink{
    padding: 5px 5px;
    }
    .blink{
    padding: 5px 5px;
    }
}
@media (max-width: 320px){
    h3, h3 a{
        font-size: 18px;
    }
    p, a, select, input{
        font-size: 10px;
    }
    .im{
        width: 190px;
        height: 47px;
    }
    .sub{
        font-size: 15px;
        border-radius: 5px;
        height: 30px;
        padding: 0px 15px;
    }
    .it{
        font-size: 25px;
    }
    .imgb{
        height: 220px;
        padding: 0px;
    }
    .wlink{
    padding: 1px 1px;
    }
    .blink{
    padding: 1px 1px;
    }
}